---
layout: base.njk
title: Ueber uns
permalink: /about/
---
<article>
  <h1>Ueber den Blog</h1>
  <p>Dies ist der redaktionelle Ableger von <a href="https://nineteengolf.guide">NineteenGolf.Guide</a>. Hier schreiben wir ueber Golfreisen, Trolleys und Ausruestung, Platzberichte und alles, was nach der 18. Bahn noch interessant ist.</p>
  <p>Fragen, Themenwuensche oder Kooperationen: <a href="mailto:redaktion@nineteengolf.guide">redaktion@nineteengolf.guide</a></p>
</article>
