---
layout: base.njk
title: Ueber uns
permalink: /about/
---
<article>
  <h1>Ueber nineteen.blog</h1>
    <p>nineteen.blog ist der redaktionelle Ableger von <a href="https://nineteengolf.guide">NineteenGolf.Guide</a>. Hier schreiben wir ueber Golfreisen, Trolleys und Ausruestung, Platzberichte und alles, was nach der 18. Bahn noch interessant ist.</p>
      <p>Fragen, Themenwuensche oder Kooperationen: <a href="mailto:redaktion@nineteen.blog">redaktion@nineteen.blog</a></p>
      </article>
      
